<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_tasklist.each do |tasklist| %>
        <li><%= tasklist %></li>
      <% end %>
    </ul>
  </div>
<% end %>